#main-body {
    max-width: 1244px;
    margin: 2em auto;
}

img.website-image {
    display: block;
    max-height: 32px;
    margin: 0 auto;
}

img.logo-clicker {
    display: block;
    height: 22px;
    margin: 0 auto;
}

img.selected {
    opacity: .1;
}

input, button {
    height: 60% !important;
    border-radius: 5px !important;
}