#main-body {
    max-width: 1244px;
    margin: 0 auto;
    padding: 2em;
}

img.website-image {
    display: block;
    margin: 0 auto;
    height: 2em;
}

img.logo-clicker {
    display: block;
    height: 22px;
    margin: 0 auto;
}

img.selected {
    opacity: .1;
}

input, button {
    height: 60% !important;
    border-radius: 5px !important;
}

div.gig-row {
    padding:1em;
}

div.gig-row * {
}

a:visited {
    color: blueviolet;
}